<div class="card mb-3 mt-3">
  <div class="card-header" style="background: rgb(185 32 107 / 0.1)">
    <h5>User Details</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-6">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td> First Name:</td>
              <td>{{activeUser()?.firstName}}</td>
            </tr>
            <tr>
              <td> Last Name:</td>
              <td>{{activeUser()?.lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-md-6">
        <table class="table table-striped">
          <tbody>
          <tr>
            <td> Email:</td>
            <td>{{activeUser()?.email}}</td>
          </tr>
          <tr>
            <td> Phone:</td>
            <td>{{activeUser()?.phone}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="card mt-3 mb-3">
  <div class="card-header" style="background: rgb(185 32 107 / 0.1)">
    <h5>Cart </h5>
  </div>
  @if (activeUser()!.data.length > 0) {
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
          @for (order of activeUser()?.data; track $index){
            @for (item of order.items.cartItem; track $index) {
              <tr>
                <th scope="row">{{item.item.name}}</th>
                <td>{{item.quantity}}</td>
                <td>{{item.quantity * item.item.price}}</td>
              </tr>
            }
          }
        </tbody>
      </table>

    </div>
  }
</div>

<div class="card">
  <div class="card-header" style="background: rgb(185 32 107 / 0.1)">
    <h5>Orders </h5>
  </div>
  @if (activeUser()!.data.length > 0) {
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Movie</th>
          <th scope="col">Cinema</th>
          <th scope="col">Hall</th>
          <th scope="col">Quantity</th>
          <th scope="col">Time</th>
          <th scope="col">Status</th>
          <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
          @for (order of activeUser()?.data; track $index){
            @for (item of order.items.cartItem; track $index) {
              <tr>
                <th scope="row">{{item.item.name}}</th>
                <td>{{item.quantity}}</td>
              </tr>
            }

          }
        </tbody>
      </table>

    </div>
  } @else {
    <div class="card-body">
      <p class="text-center">No orders yet!</p>
    </div>

  }

</div>
