<div id="carouselExampleIndicators" class="carousel slide carousel-fade rounded-3 mb-3" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner rounded-bottom-1">
    <div class="carousel-item active">
      <img src="/alisa_mad.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/alisa_chair.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/alisa_pink.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/alisa_beeb.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/squish.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/squishies.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="d-flex justify-content-center gap-3 mb-3">

  <select class="form-select" style="background: #f8e9f1; max-width: 160px; max-height: 38px; padding-right: 0" [(ngModel)]="searchCriteria" (change)="loadToys()">
    <option selected>Search criteria</option>
    <option value="1">Name</option>
    <option value="2">Description</option>
    <option value="3">Type</option>
    <option value="4">Age range</option>
    <option value="5">Target group</option>
    <option value="6">Production Date</option>
    <option value="7">Price</option>
    <option value="8">Review</option>
  </select>
  @if (searchCriteria == "1" || searchCriteria == "2" || searchCriteria == "8" ) {
    <div class="input-group mb-3">
      <span class="input-group-text" id="addon" style="background: #f8e9f1"><i class="fa-solid fa-magnifying-glass" style="color: rgb(255, 255, 255);"></i></span>
      <input type="text" class="form-control" placeholder="Search" aria-describedby="addon" [(ngModel)]="search" (keyup)="loadToys()">
    </div>
  } @else if (searchCriteria == "3"){
    <select class="form-select py-0" style="background: #f8e9f1; max-width: 320px; max-height: 38px;" [(ngModel)]="selectedType" (change)="loadToys()">
      <option value="">All Types</option>
      @for (type of uniqueTypes; track $index) {
        <option [value]="type">{{ type }}</option>
      }
    </select>
  } @else if (searchCriteria == "4"){
    <select class="form-select py-0" style="background: #f8e9f1; max-width: 320px; max-height: 38px;" [(ngModel)]="selectedAgeGroup" (change)="loadToys()">
      <option value="">All Age Groups</option>
      @for (ageGroup of uniqueAgeGroups; track $index) {
        <option [value]="ageGroup">{{ ageGroup }}</option>
      }
    </select>
} @else if (searchCriteria == "5"){
    <select class="form-select py-0" style="background: #f8e9f1; max-width: 320px; max-height: 38px;" [(ngModel)]="selectedTargetGroup" (change)="loadToys()">
      <option value="">All Types</option>
      @for (targetGroup of uniqueTargetGroups; track $index) {
        <option [value]="targetGroup">{{ targetGroup }}</option>
      }
    </select>
  } @else if (searchCriteria == "6"){
    <select class="form-select py-0" style="background: #f8e9f1; max-width: 320px; max-height: 38px;" [(ngModel)]="selectedPeriod" (change)="loadToys()">
      <option value="">All Periods</option>
      @for (period of uniquePeriods; track $index) {
        <option [value]="period">{{ period }}</option>
      }
    </select>
  } @else if (searchCriteria == "7"){
    <select class="form-select py-0" style="background: #f8e9f1; max-width: 320px; max-height: 38px; padding-right: 0" [(ngModel)]="selectedPriceRange" (change)="onPriceRangeChange()">
      <option value="0-100000">All Prices</option>
      <option value="0-1500">Under 1,500 RSD</option>
      <option value="1500-3000">1,500 - 3,000 RSD</option>
      <option value="3000-5000">3,000 - 5,000 RSD</option>
      <option value="5000-100000">Over 5,000 RSD</option>
    </select>
  } @else {
    <div class="input-group mb-3">
      <span class="input-group-text" id="addon" style="background: #f8e9f1"><i class="fa-solid fa-magnifying-glass" style="color: rgb(255, 255, 255);"></i></span>
      <input type="text" class="form-control" placeholder="Search" aria-describedby="addon" [(ngModel)]="search" (keyup)="loadToys()">
    </div>
  }
</div>


<div class="movies">
  @for (toy of toys(); track $index) {
    <div class="card">
      <img [src]="`https://raw.githubusercontent.com/Pequla/express-toys-api/refs/heads/main/src/public${toy.imageUrl}`" class="card-img-top" [alt]="toy.name">
      <div class="card-body">
        <h5 class="card-title ">{{toy.name}}</h5>
        <p class="badge rounded-pill bg-secondary p-2">{{toy.ageGroup.name}} </p>
        @if (toy.targetGroup == "dečak") {
          <p  class="badge rounded-pill bg-primary-subtle p-2 mx-2 text-primary" >dečaci</p>
        } @else if (toy.targetGroup == "devojčica"){
          <p  class="badge rounded-pill p-2 mx-2" style="background: rgb(185 32 107 / 0.1); color: #b9206b" >devojčice</p>
        } @else {
          <p  class="badge rounded-pill bg-secondary-subtle p-2 mx-2 text-secondary"> {{toy.targetGroup}}</p>
        }
        <p class="card-text">{{toy.description}}</p>
      </div>
      <div class="card-footer btn-group">
        <a class="btn btn-sm btn-primary" [routerLink]="`/toy/${toy.permalink}`">
          <i class="fa-solid fa-arrow-up-right-from-square" style="color: rgb(255, 255, 255);"></i> Details
        </a>
        <button class="btn btn-sm btn-success" (click)="addToCart(toy)">
          <i class="fa-solid fa-cart-shopping" style="color: rgb(255, 255, 255);"></i> Add to cart
        </button>
      </div>

    </div>
  }
</div>

